@charset "UTF-8";
/* reset */
* { margin: 0; padding: 0; }
body, html { width: 100%; font-family: 'Noto Sans KR', sans-serif; overflow-x:hidden;  }
ul { list-style: none; }
button, input[type=button], input[type=menu-submit], input[type=reset] { outline:0; border:0; }
a { text-decoration: none; text-align: center;} 
/*header*/
.hd{width: 100vw;
height:160px;
}
.login{
	width:200px;
	padding: 15px 10px;
	float: right;
}
.login ul li{
	float:right;
	margin-right: 40px;
}
.logo{
    max-width: 1200px;
    margin: 0 auto;
   
}
.logo a { 
    display: inline-block;
    padding: 25px 0;
    color: gray;
}
.logo a img {
    max-width: 100%;
}
.searchbar{
    position: absolute;
    width: 350px;
    height: 50px;
    top: 40px;
    left: 50%;
    margin-left: -150px;
}
.searchbar input {
    width: 280px;
    height: 40px;
}

.searchbar a{
    display: block;
    width: 50px;
    height: 40px;
    background: url("source/btn_sch.png") no-repeat center left;
    float: right;
    font-size: 0;
}
.top_right{
    float:right;
    margin-top: 20px;
    margin-right: 50px;
    text-align: center;
}
.top_nav a {
    font-size: 20px;
    color: gray;
    display: inline-block;
    margin-right: 20px;
}
.top_menu{
    width: 100%;
    height: 100px;
}
.mainmenu { 
    clear: both;
    height: 40px;
    width: 100%;
    background-color: rgb(28, 34, 92);
    padding: 10px 150px;
    text-align: center;}


.mainmenu > ul.menu > li.menu-item { 
    float: left;
    width: 12%;
    height: 40px;
} 
.mainmenu > ul.menu > li.menu-item a{
        color:#fff;
    }
 
 .mainmenu  li.menu-item .menu-sub { 
    display: none;
     width:100vw; 
     height: 350px;
     position: absolute; 
     left:0px;  
     z-index: 99;  
     background-color: #9ea1aaad;
    box-sizing: border-box; 
    padding-top: 25px;
     margin-top: 14px; 
   }
  .mainmenu  li.menu-item .menu-sub li {
    float: left;
    width: 600px;
    height: 30px;
    margin-left: 200px;
    margin-bottom:50px;
 }  
.mainmenu  li.menu-item .menu-sub li a {
    float: left;
    color: #222;
    font-size: 20px;
    font-weight: 500;
} 
.mainmenu  li.menu-item .menu-sub li dl.sub dd{
   height: 40px;
   margin-left: 250px;
} 
.mainmenu  li.menu-item .menu-sub li a:hover {
	color: rgb(49, 24, 185);
	 } 

.mainmenu  li.menu-item:hover .menu-sub { 
	display: block; width: 100%; 
	} 

.mainmenu  li.menu-item .menu-sub li dl { 
	float: none; 
	visibility: hidden;  
	} 
.mainmenu  li.menu-item .menu-sub li:hover dl { 
    width: 1800px;
    visibility: visible;  }

/* footer */
.ft { 
    width: 100vw; 
    position:relative; 
    background-color: rgb(43, 75, 122);
    overflow: hidden;
 }
.ft:before {
    content:""; 
    display:block; 
    width: 100%; 
    height: 48px; 
    position:absolute; 
    top: 0; 
    left: 0; 
    z-index:-1; }
.ft_wrap { 
    width: 1200px; 
    height: 120px;
    margin:0 auto;
    top: 20px;  
    position:relative;
}
.f_logo {float: left; margin-right: 60px;}

.linkbar{float: left;}
.linkbar_nav { display: block; margin: 0; } 

.ft .linkbar_nav ul li{
    display: inline-block;
    position: relative;
    
}
.linkbar_nav li { float:left; margin-right:40px; }
.linkbar_nav li a { display:block; color:gray; line-height:40px; font-size:14px; }
.copyright {
    font-size:14px;
    line-height:1.8; }
.wa{
    float: right;
}
.wa > ul {
    width: 200px;
}


