@charset "utf-8";
/* 전체 영역 */
*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}
/* 헤더 영역 */
.wrap{
    width: 100%;
	height: 100px;
	background-color: rgba(3, 3, 3, 0.795);
}
.nav{
    clear: both;
    float: left;
    height: 40px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.795);
}

.nav li
{
    float: left;
    width: 25%;
    position: relative;
}
.nav li a.g1
{
    display: block;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.nav li .sub
{
    width: 240px;
    display: none;
    position: absolute;
    z-index: 99;
}
.nav li .sub li
{
    clear: both;
    float: none;
    width: 100%;
    height: 43px;
    background-color: rgba(241, 158, 127, 0.904);
}
.nav li .sub li a.s1
{
    color: #fff;
    line-height: 3px;
    font-size: 18px;
    text-align: center;
}
.nav li:hover .sub
{
    display: block;
}
.tnb{
    display: flex;
    justify-content: right;
    margin-right:50px;
    width: 100%;
    height: 80px;


}
.tnb > li{
    margin-left: 20px;
}
.tnb > li > a{
    font-weight: bold;
    color:black;
}